body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1em;
  background-color:#eee;
}

.btn {
  background-color: rgb(26, 33, 95);
}

.jumbotron {
  background-color: white;
}

.card-body {
  font-size: 14px;
}
